
ul {
  padding: 0 40px;
  margin: -11px;
}

.finish-button{
  margin: 20px 30px;
}

.status {
    margin-bottom: 10px;
  }

 
  .game-board{
    display: flex;
    flex-direction: row;
  }
 
  .btn-list {
    /* width: 100px;
    font-size: 14px; */
    margin-top: 10px;
    /* box-shadow: none;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: #83BC93;
    color: white; 
    padding: 10px 5px;
    border-radius: 4px; */
  }
  .active{
    margin-top: 10px;
    background:khaki;
  }
  .inactive{
    margin-top: 10px;
  }